# Exploring HCAD Database
The data that was extracted from the HCAD database and inserted into two tables in the sqlite database (database.sqlite) can be explored with Pandas library using python

In [2]:
import sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect('database.sqlite')
sql = '''SELECT ra.acct AS account, ra.mailto AS owner, ra.site_addr_1 AS street_address, ra.site_addr_2 AS city, ra.site_addr_3 AS zip, ra.yr_impr,
        CAST(ra.bld_ar AS INT) AS building_area, CAST(ra.land_ar AS INT) AS land_area, CAST(ra.tot_appr_val AS INT) AS appraised_value, (ra.tot_appr_val / ra.bld_ar) AS price_per_area, ra.protested 
        FROM real_acct as ra
        INNER JOIN building_res br
        ON ra.acct = br.acct 
        WHERE ra.site_addr_1 LIKE '% Wall%' AND ra.site_addr_3 = '77040' AND CAST(ra.str_num as int) % 2 != 0 AND NOT ra.site_addr_1 LIKE '%VAN%' AND ra.bld_ar > 0
        ORDER BY price_per_area;'''
df = pd.read_sql_query(sql, con)

In [4]:
df

,account,owner,street_address,city,zip,yr_impr,building_area,land_area,appraised_value,price_per_area,protested
0,1074380000024,RITTER JOSEPH M,16305 WALL ST,JERSEY VILLAGE,77040,1976,2433,15253,218900,89,Y
1,1074380000048,LUU MY DUNG,16001 WALL ST,JERSEY VILLAGE,77040,1989,5133,15135,530222,103,Y
2,1074380000012,ALEMAN OLGA,16421 WALL ST,JERSEY VILLAGE,77040,1978,2141,15257,227407,106,Y
3,1074380000036,MAGNUSON BETTY A,16113 WALL ST,JERSEY VILLAGE,77040,1976,2695,15736,287218,106,Y
4,1074380000033,SULLIVAN LINDA J,16125 WALL ST,JERSEY VILLAGE,77040,1978,2763,17660,298280,107,N
5,1074380000010,NASH GREGORY J,16429 WALL ST,JERSEY VILLAGE,77040,1978,2077,14135,228690,110,Y
6,1074380000045,JAJOO RAJESH,16013 WALL ST,JERSEY VILLAGE,77040,1990,3169,15086,353309,111,Y
7,1074380000009,LEW ALBERT K,16433 WALL ST,JERSEY VILLAGE,77040,1978,2240,15783,251330,112,Y
8,1074380000013,LARSSON TOMAS,16417 WALL ST,JERSEY VILLAGE,77040,1978,2240,15978,252583,112,Y
9,1074380000015,JACKSON JERI S,16409 WALL ST,JERSEY VILLAGE,77040,1978,2008,16168,225916,112,Y
10,1074380000025,HEGER DAVID R,16301 WALL ST,JERSEY VILLAGE,77040,1978,2516,15383,283399,112,N
11,1074380000029,CORSO JOANN,16209 WALL ST,JERSEY VILLAGE,77040,1978,2284,16411,256848,112,N
12,1074380000022,NATIONS ASHLEY,16313 WALL ST,JERSEY VILLAGE,77040,1978,2385,19152,280965,117,Y
13,1074380000027,NOLL VICTORIA A,16217 WALL ST,JERSEY VILLAGE,77040,1978,2057,14248,244754,118,N
14,1074380000040,BROWN MICHAEL WAYNE,16025 WALL ST,JERSEY VILLAGE,77040,1976,2241,15239,267344,119,N
15,1074380000046,HAMMERSTROM TROY & AIMEE E,16009 WALL ST,JERSEY VILLAGE,77040,1990,3243,16371,388300,119,Y
16,1074380000028,BOWDEN BLAKE C AND SARAH H,16213 WALL ST,JERSEY VILLAGE,77040,1978,2236,15968,270329,120,Y
17,1074380000020,CURRENT OWNER,16321 WALL ST,JERSEY VILLAGE,77040,1978,1877,18575,228800,121,Y
18,1074380000026,HUGHES TERRY J & DEBORAH K,16221 WALL ST,JERSEY VILLAGE,77040,1994,2414,14875,292519,121,Y
19,1074380000014,ELLIOT-CONNER JAMMIE L M,16413 WALL ST,JERSEY VILLAGE,77040,1977,2141,16189,262966,122,N
20,1074380000030,REED LEROY W JR,16205 WALL ST,JERSEY VILLAGE,77040,1978,2250,15325,277138,123,N
21,1074380000037,LAMBORN JARED C & KATHERINE J,16109 WALL ST,JERSEY VILLAGE,77040,1976,2450,15383,304261,124,N
22,1074380000019,CURRENT OWNER,16325 WALL ST,JERSEY VILLAGE,77040,1978,2719,15567,344762,126,N
23,1074380000021,PRICE TAMMRA,16317 WALL ST,JERSEY VILLAGE,77040,1978,2100,19474,268007,127,N
24,1074380000038,TOWERY RONALD G & CLARE,16105 WALL ST,JERSEY VILLAGE,77040,1976,2100,13511,267933,127,Y
25,1074380000039,GILLESPIE CHANCE M & CHRISTINE O,16101 WALL ST,JERSEY VILLAGE,77040,1976,2160,13966,275000,127,Y
26,1074380000034,HENRY RYAN D & MINDY N,16121 WALL ST,JERSEY VILLAGE,77040,1977,2229,17784,290768,130,N
27,1074380000047,MELESKI BENNIE,16005 WALL ST,JERSEY VILLAGE,77040,1989,2353,17934,310822,132,Y
28,1074380000032,ROSS COLBY MUNRO II & ELYSIA DYAN,16129 WALL ST,JERSEY VILLAGE,77040,1978,2332,19554,310566,133,N
29,1074380000044,CRANE CHRISTOPHER T,16017 WALL ST,JERSEY VILLAGE,77040,1990,3438,16836,462937,134,N
30,1074380000031,VOGEL JOSHUA,16201 WALL ST,JERSEY VILLAGE,77040,1978,2319,18206,313927,135,Y
31,1074380000018,GUTIERREZ CHRISTIAN F,16329 WALL ST,JERSEY VILLAGE,77040,1980,2261,15731,308255,136,N
32,1074380000016,TRAN DIEN,16405 WALL ST,JERSEY VILLAGE,77040,1980,2240,14821,307004,137,Y
33,1074380000035,PAOLIVEGA MARIA,16117 WALL ST,JERSEY VILLAGE,77040,1976,2408,16482,336049,139,N
34,1074380000017,FIERRO RODRIGO & ELISA A,16401 WALL ST,JERSEY VILLAGE,77040,1980,2008,14196,281431,140,N
35,1074380000023,RIBEIRO ERIK,16309 WALL ST,JERSEY VILLAGE,77040,1978,2270,15350,329772,145,N
36,1074380000011,SHUNKA KYLE,16425 WALL ST,JERSEY VILLAGE,77040,1978,2008,16277,301895,150,Y

In [5]:
# Convert building_area, land_are, appraised_value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   account          37 non-null     int64
 1   owner            37 non-null     object
 2   street_address   37 non-null     object
 3   city             37 non-null     object
 4   zip              37 non-null     object
 5   yr_impr          37 non-null     object
 6   building_area    37 non-null     int64
 7   land_area        37 non-null     int64
 8   appraised_value  37 non-null     int64
 9   price_per_area   37 non-null     int64
 10  protested        37 non-null     object
dtypes: int64(5), object(6)
memory usage: 3.3+ KB

In [6]:
# Find houses with +/- 15% of the building and land square footage
my_bld_area = 2236
my_land_area = 15968
factor = 0.1

building_upper_limit = my_bld_area * (factor + 1)
building_lower_limit = my_bld_area - (my_bld_area * factor)

land_upper_limit = my_land_area * 1.15
land_lower_limit = my_land_area - (my_land_area * factor)

df_near = df[(df['building_area'] >= building_lower_limit) & (df['building_area'] <= building_upper_limit) &
             (df['land_area'] >= land_lower_limit) & (df['land_area'] <= land_upper_limit)]
df_near

,account,owner,street_address,city,zip,yr_impr,building_area,land_area,appraised_value,price_per_area,protested
0,1074380000024,RITTER JOSEPH M,16305 WALL ST,JERSEY VILLAGE,77040,1976,2433,15253,218900,89,Y
2,1074380000012,ALEMAN OLGA,16421 WALL ST,JERSEY VILLAGE,77040,1978,2141,15257,227407,106,Y
7,1074380000009,LEW ALBERT K,16433 WALL ST,JERSEY VILLAGE,77040,1978,2240,15783,251330,112,Y
8,1074380000013,LARSSON TOMAS,16417 WALL ST,JERSEY VILLAGE,77040,1978,2240,15978,252583,112,Y
11,1074380000029,CORSO JOANN,16209 WALL ST,JERSEY VILLAGE,77040,1978,2284,16411,256848,112,N
14,1074380000040,BROWN MICHAEL WAYNE,16025 WALL ST,JERSEY VILLAGE,77040,1976,2241,15239,267344,119,N
16,1074380000028,BOWDEN BLAKE C AND SARAH H,16213 WALL ST,JERSEY VILLAGE,77040,1978,2236,15968,270329,120,Y
18,1074380000026,HUGHES TERRY J & DEBORAH K,16221 WALL ST,JERSEY VILLAGE,77040,1994,2414,14875,292519,121,Y
19,1074380000014,ELLIOT-CONNER JAMMIE L M,16413 WALL ST,JERSEY VILLAGE,77040,1977,2141,16189,262966,122,N
20,1074380000030,REED LEROY W JR,16205 WALL ST,JERSEY VILLAGE,77040,1978,2250,15325,277138,123,N
21,1074380000037,LAMBORN JARED C & KATHERINE J,16109 WALL ST,JERSEY VILLAGE,77040,1976,2450,15383,304261,124,N
26,1074380000034,HENRY RYAN D & MINDY N,16121 WALL ST,JERSEY VILLAGE,77040,1977,2229,17784,290768,130,N
27,1074380000047,MELESKI BENNIE,16005 WALL ST,JERSEY VILLAGE,77040,1989,2353,17934,310822,132,Y
30,1074380000031,VOGEL JOSHUA,16201 WALL ST,JERSEY VILLAGE,77040,1978,2319,18206,313927,135,Y
31,1074380000018,GUTIERREZ CHRISTIAN F,16329 WALL ST,JERSEY VILLAGE,77040,1980,2261,15731,308255,136,N
32,1074380000016,TRAN DIEN,16405 WALL ST,JERSEY VILLAGE,77040,1980,2240,14821,307004,137,Y
33,1074380000035,PAOLIVEGA MARIA,16117 WALL ST,JERSEY VILLAGE,77040,1976,2408,16482,336049,139,N
35,1074380000023,RIBEIRO ERIK,16309 WALL ST,JERSEY VILLAGE,77040,1978,2270,15350,329772,145,N